<head>
	<meta charset="utf-8">
    <title>A qué jugamos</title>
    <link rel="icon" href="src/views/resources/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="src/views/resources/js/assets/jquery.validate.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- CSS propios -->
	<link rel="stylesheet" type="text/css" href="src/views/resources/css/home.css"/>
	<link rel="stylesheet" type="text/css" href="src/views/resources/css/login.css"/>
	<link rel="stylesheet" type="text/css" href="src/views/resources/css/signUp.css"/>
	
	<!-- JS Scripts -->
	<script type="text/javascript" src="src/views/resources/js/ajaxFunction.js"></script>
	<script type="text/javascript" src="src/views/resources/js/register.js"></script>

	
</head>